.billboard {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.billboard-img {
  @include media-breakpoint-up(md) {
    max-width: 80%;
  }
}

.billboard-body {

  @include media-breakpoint-down(md) {
    @include make-container();
    @include make-container-max-widths();
  }

  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: 3rem;
    left: 40%;
    max-width: 60%;
    padding: 1rem 0 1rem 1rem;
    background-color: $body-bg;
    text-align: left;
  }

  @include media-breakpoint-up(lg) {
    left: 50%;
    max-width: 50%;
  }

  @include media-breakpoint-up(xl) {
    left: 60%;
    max-width: 40%;
  }
}