.display-img {
  @include display-img;
  padding-bottom: 60%;
  
  @include media-breakpoint-up(md) {
    padding-bottom: 35%;
  }
}

.display-img-fix-vertical {
  img {
    height: 100%;
    width: auto;
  }
}

.display-img-3-by-2 {
  padding-bottom: percentage(2/3);
}

.display-img-4-by-3 {
  padding-bottom: percentage(3/4);
}

.display-img-1-by-1 {
  padding-bottom: 100%;
}

.display-img-fluid {
  @include media-breakpoint-up(xl) {
    height: 28rem;
    padding-bottom: 0 !important;
  }
}