.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: $loader-size;
    height: $loader-size;
    margin-top: -(round($loader-size / 2));
    margin-left: -(round($loader-size / 2));
    border-style: solid;
    border-width: $loader-border-width;
    border-color: $primary;
    border-right-color: transparent;
    border-radius: 50%;
    font-size: 0;
    text-indent: -9999em;
    background-clip: content-box;
    -webkit-animation: load 1s infinite linear;
    animation: load 1s infinite linear;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
