.body-fixed-nav {
  padding-top: 60px;
}

.icon-container {
  display: inline-block;
  width: 1.5em;
  text-align: center;
}

.container-narrow {
  max-width: 45rem;
}

.hover-opacity {
  @include hover-focus {
    opacity: .65;
  }
}

.container-media {
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(xl) {
    @include make-container-max-widths();
  }
}

.bg-white {
  background-color: $white;
}

.bg-gray {
  background-color: $gray-200;
}

.bg-gray-dark {
  background-color: $gray-400;
}

.box-shadow {
  box-shadow: 0px 10px 5px 0px rgba($black,.11);
}

.rounded {
  border-radius: 15px;
  overflow: hidden;

  @include rounded-overflow-fix;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.text-muted {
  color: $gray-600;
}

.fs-120 {
  font-size: 120%;
}

.fs-xl-125 {
  @include media-breakpoint-up(xl) {
    font-size: 125%;
  }
}

.link-body {
  color: $body-color;
  
  @include hover-focus {
    color: $body-color;
  }
}

.h-100 {
  height: 100%;
}